# Byte-code files
*.pyc
__pycache__/

# Virtual environment directory
venv/
env/
.venv/
**/.env
# Editor/OS temporary files
.DS_Store
Thumbs.db

# Distribution / packaging
.Python
build/
dist/
eggs/
*.egg-info/
*.whl

# Pytest cache
.pytest_cache/

# IDE specific files (optional)
.idea/  # For PyCharm/IntelliJ
.vscode/ # For VS Code
